body {
    background-color: #8B7E74; /* Creme escuro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

#todo-container {
    background-color: #F5F5DC; /* Creme claro */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    color: #000; /* Preto */
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px);
}

button {
    padding: 5px 10px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #d4a373;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #c48a6f;
}

li {
    list-style-type: none;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p {
    color: #000000;
}